## For Docker Compose Namespace
APP_NAMESPACE=khanakia
## Docker Compose Container Name
CONTAINER_NAME=boilerplate


## API PORT to define for Docker Compose
PORT=2310


# This to generate the .github/.secrets.xxx file and also update the secrets to github action secrets
# this GITHUB_SECRET_xx are skipped and ignored while creating ENV_PROD_B64 secret
# go run ./scripts gh:secrets:update --env=prod
# go run ./scripts gh:secrets:push --env=prod
GITHUB_SECRET_GITHUB_ACTOR=khanakia

# only needed for `act` local testing no need to add to the github repo secrets
# GITHUB_TOKEN is special - GitHub Actions auto-generates it with proper permissions. It only works inside GitHub's runners
GITHUB_SECRET_GITHUB_TOKEN=ghp_V3x9Rzqrzlxxxxx

# VPS Access
GITHUB_SECRET_VPS_HOST=188.34.136.211
GITHUB_SECRET_VPS_USER=root
GITHUB_SECRET_VPS_PORT=22


# GitHub Container Registry
GITHUB_SECRET_GHCR_PAT=ghp_V3x9Rzqrxxxxxx

GITHUB_SECRET_CONTAINER_NAME=boilerplate-stag
GITHUB_SECRET_DEPLOY_PATH=/khanakia/boilerplate_stag

GITHUB_SECRET_KEY_FILES=["vps_deploy.key","nsg-default-cli-acc_2YFaMBmczDRkEacjAG3XjPXeOEz_prod.creds"]